<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="{{ url_for('home2')}}">Manager</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="{{ url_for('home2')}}">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="{{ url_for('daglog')}}">Dag Overzicht <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
       <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="{{ url_for('maandlog')}}">Maand Overzicht <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="{{ url_for('clienten')}}">Clienten</a>-->
      <!--</li>-->
    <!--</ul>-->
            <!--<a class="nav-link pull-right" href="{{ url_for('logout')}}">Log out <span class="sr-only">(current)</span></a>-->
  <!--</div>-->
<!--</nav>-->

<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://cdn.discordapp.com/attachments/382333658557710336/416094874358644737/logo_-_Copy.png" >
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('home')}}">
        Home
      </a>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('saldo')}}">
        Dag overzicht
      </a>
    </div>

<div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('saldo')}}">
        Maand overzicht
      </a>
    </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('saldo')}}">
        Clienten
      </a>
    </div>

    </div>

  <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-white" href="">
              <span>
                Log uit
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>